[client]
port=3306
socket=/web/server/mysql/tmp/mysql.sock

[mysqld]

 basedir = /web/server/mysql
 datadir = /web/server/mysql/data
 port = 3306
 server_id = 1
 socket = /web/server/mysql/tmp/mysql.sock
 pid-file = /web/server/mysql/tmp/mysql.pid


sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
table_open_cache=128
performance_schema_max_table_instances=200
table_definition_cache=200
skip-name-resolve

#skip-grant-tables


# tmp dir settings
tmpdir                   = /web/server/mysql/tmp/
slave-load-tmpdir        = /web/server/mysql/tmp/


# 
#language                 = /home/longxibendi/mysql/share/mysql/english/
#character-sets-dir       = /home/longxibendi/mysql/share/mysql/charsets/


# res settings
#back_log                 = 50
#max_connectiona          = 1000
#max_connect_errors       = 10000
#open_files_limit         = 10240


connect-timeout          = 10
wait-timeout             = 28800
interactive-timeout      = 28800


slave-net-timeout        = 600
net_read_timeout         = 30
net_write_timeout        = 60
net_retry_count          = 10
net_buffer_length        = 16384
max_allowed_packet       = 64M 


#table_cache              = 512
#thread_stack             = 192K
#thread_cache_size        = 20
#thread_concurrency       = 8

# qcache settings
query_cache_size         = 256M
query_cache_limit        = 2M
query_cache_min_res_unit = 2K

# default settings
# time zone
default-time-zone        = system
character-set-server     = utf8
default-storage-engine   = InnoDB

# tmp & heap
tmp_table_size           = 512M
max_heap_table_size      = 512M

log-bin                  = mysql-bin
log-bin-index            = mysql-bin.index
relay-log                = relay-log
relay_log_index          = relay-log.index

# warning & error log
log-warnings             = 1
log-error                = /web/server/mysql/log/mysql.err
log_output               = FILE

# slow query log
slow_query_log           = 1
long-query-time          = 1
slow_query_log_file      = /web/server/mysql/log/slow_querry.log
#log-queries-not-using-indexes
#log-slow-slave-statements




general_log              = 1
general_log_file         = /web/server/mysql/log/mysql.log
max_binlog_size          = 1G
max_relay_log_size       = 1G


#if use auto-ex, set to 0
relay-log-purge          = 1

# max binlog keeps days
expire_logs_days         = 30

binlog_cache_size        = 1M

# replication
replicate-wild-ignore-table     = mysql.%
replicate-wild-ignore-table     = test.%
slave_skip_errors=all





#key_buffer_size                 = 256M
#sort_buffer_size                = 2M
#read_buffer_size                = 2M
#join_buffer_size                = 8M 
#read_rnd_buffer_size            = 8M
#bulk_insert_buffer_size         = 64M
#myisam_sort_buffer_size         = 64M
#myisam_max_sort_file_size       = 10G 

#transaction_isolation           = REPEATABLE-READ

#innodb_file_per_table

#innodb_status_file              = 1#
#innodb_open_files              = 2048
#innodb_additional_mem_pool_size = 100M 
#innodb_buffer_pool_size         = 2G
#innodb_buffer_pool_size         = 2G 
#innodb_data_home_dir            = /web/server/mysql/log/
#innodb_data_file_path           = ibdata1:1G:autoextend
#innodb_data_file_path           = ibdata1:500M;ibdata2:2210M:autoextend
#innodb_file_io_threads          = 4
#innodb_thread_concurrency       = 16
#innodb_flush_log_at_trx_commit  = 1


#innodb_log_buffer_size          = 8M 
#innodb_log_file_size            = 500M
#innodb_log_file_size            =100M
#innodb_log_files_in_group       = 2
#innodb_log_group_home_dir       = /web/server/mysql/log/


#innodb_max_dirty_pages_pct      = 90 
#innodb_lock_wait_timeout        = 50
#innodb_flush_method            = O_DSYNC





